{% extends 'layout.html' %}

{% block styles %}
{%if isAuthenticated %}
<link rel='stylesheet' href="/public/css/auth_index.css">
{% else %}
<link rel='stylesheet' href="/public/css/index.css">
{% endif %}
{% endblock %}

{% block content %}
{%if isAuthenticated %}
<div class="vblock state">
    <div class="circle_pic"></div>
    <div><h2>{{user.username}}</h2></div>
    <ul>
        <li><a href="/post">글쓰기</a></li>
        <li><a href="">작성글 관리</a></li>
        <li><a href="">내정보 관리</a></li>
    </ul>
</div>
<div class="vblock plist">
 <div><h2>내 글 목록</h2></div>
</div>
<div class="vblock plist">
 <div><h2>베스트 글</h2></div>
 <ul>
     {{ posts.length }}
     <script>
         
     </script>
 </ul>
</div>
<div class="vblock plist">
 <div><h2>베스트 유저</h2></div>
</div>
{% else %}
<h1>Code Slit에 방문하신 것을 환영합니다!</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, ut? Quas eaque voluptates nulla unde exercitationem? Cumque earum possimus cupiditate atque? Voluptate maxime nemo error dolor facilis provident sequi recusandae?</p>
<br>
<div>Cookie: {{cookie}}</div>
{% endif %}
{% endblock %}